$bg-color: #E6EBE0;
$font-color: #679436;

.App {
  font-family: verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $font-color;
  /* border: 1px yellow solid; */
}
